<div class="aside">
  <div class="logo"><img src="../../../assets/images/logo.jpg" alt="" /></div>
  <ul>
    <li routerLink="/users">
      <i class="fa-solid fa-user"></i>
      <a routerLinkActive="router-link-active">Users</a>
    </li>
    <li routerLink="/products">
      <i class="fa-solid fa-shop"></i>
      <a>Products</a>
    </li>
    <li routerLink="/add-product">
      <i class="fa-solid fa-plus"></i>
      <a>Add Product</a>
    </li>
  </ul>
  <div class="logout">
    <p class="para">
      <a href="www.google.com">support</a><i class="fa-solid fa-phone"></i>
    </p>
    <p class="para">
      <a routerLink="/login">Log Out</a
      ><i class="fa-solid fa-arrow-right-from-bracket"></i>
    </p>
  </div>
</div>
